/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 72px;
}
p{
    font-weight: 400;
}

/* Other Styles */
.button-color{
    background-color: #E76F51;
    padding: 6px 30px;
}
.top-backgroud{
    background-color: #264653
    ;
}
.colourful-text{
    color: #E76F51;
}
.client-name{
    color: #23A6F0;
}